@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --primary-bright-orange: hsl(31, 77%, 52%);
  --primary-dark-cyan: hsl(184, 100%, 22%);
  --primary-very-dark-cyan: hsl(179, 100%, 13%);
  --primary-light-blue: hsl(228, 45%, 44%);

  --neutral-transparent-white: hsla(0, 0%, 100%, 0.75);
  --neutral-very-light-gray: hsl(0, 0%, 95%);

  --font-family-default: "Lexend Deca", sans-serif;
  --font-family-secundary: "Big Shoulders Display", sans-serif;
}

/*Estilos gerais*/
body {
  background-color: var(--neutral-very-light-gray);
  font-family: var(--font-family-default);
  font-size: 0.9375rem;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 55px;
}

/*container*/
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 900px;
  margin: 200px auto;
}

@media screen and (max-width: 375px) {
  .container {
    grid-template-columns: auto;
    margin: 60px 20px;
  }
}

/*card-default*/
.card-default {
  padding: 40px;
}

.card-default h2 {
  color: var(--neutral-very-light-gray);
  font-family: var(--font-family-secundary);
  font-size: 2rem;
  margin: 20px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card-default p {
  color: var(--neutral-transparent-white);
  line-height: 1.6;
  margin-bottom: 100px;
  max-width: 23ch;
}

.card-default a {
  border: solid 2px var(--neutral-very-light-gray);
  color: var(--neutral-very-light-gray);
  border-radius: 30px;
  padding: 10px 30px;
  transition: 0.1s;
}

@media screen and (max-width: 375px) {
  .card-default p {
    max-width: 25ch;
  }
}

/*cards*/
.card-1 {
  background-color: var(--primary-bright-orange);
  border-radius: 5px 0 0 5px;
}

.card-1 a:hover {
  background-color: var(--neutral-very-light-gray);
  color: var(--primary-bright-orange);
}

.card-2 {
  background-color: var(--primary-dark-cyan);
}

.card-2 a:hover {
  background-color: var(--neutral-very-light-gray);
  color: var(--primary-dark-cyan);
}

.card-3 {
  background-color: var(--primary-very-dark-cyan);
  border-radius: 0 5px 5px 0;
}

.card-3 a:hover {
  background-color: var(--neutral-very-light-gray);
  color: var(--primary-very-dark-cyan);
}

@media screen and (max-width: 375px) {
  .card-1 {
    border-radius: 5px 5px 0 0;
  }
  .card-3 {
    border-radius: 0 0 5px 5px;
  }
}
/*Footer*/
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: var(--primary-light-blue);
}
